:root {
    --fg1: hsl(100, 100%, 65%);
    --fg2: hsl(60, 80%, 75%);
    --bg1: black;
    /* --bg1: #111211; */
    --base-gap: 1rem;
}
html, body {
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    background: var(--bg1);
    color: var(--fg1);
    font-family: monospace;
    font-size: 120%;
    letter-spacing: 0.15em;
    text-align: center;
}

button {
    border-radius: 0.2em;
    border: 1px solid currentColor;
    box-shadow: inset 0 0 3px currentColor;
    padding: 0.75em 1em;
    margin: 0.5em;
    color: currentColor;
    display: inline-block;
    font-size: 1em;
}

button:hover, button:focus, button:active {
    color: var(--fg2);
    box-shadow: inset 0 0 8px currentColor;
}

a {
    color: var(--fg2);
}

#view {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    max-width: 90vh;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}
#points {
    width: 100%;
    padding-bottom: 100%;
    height: 0;
    position: relative;
}

#text {
    font-size: 250%;
    text-shadow: 0 0 0.5em var(--fg1);
}
#text:before {
    content: "> ";
}

.path-checkbox {
    background: black;
    color: var(--fg1);
    cursor: pointer;
    animation: reveal 2s;
    transition: all 2s;
    transform: scale(1.3333);
}
.path-checkbox[disabled] {
    opacity: 0.7;
}
.path-checkbox.next {
    border: 6px solid var(--fg1);
    box-shadow: 0 0 2em var(--fg1);
}

@keyframes reveal {
    from {
        opacity: 0;
    }
}
@keyframes blurry {
    50% {
        filter: blur(5px);
    }
}

.message {
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
    text-align: center;
    margin: 2rem;
    font-size: 150%;
    letter-spacing: 0.2em;
    filter: blur(3px);
    animation: blurry infinite 4s linear;
    transition: all 2s;
}
.invisible {
    opacity: 0;
    visibility: hidden;
}
.start-button {
    font-size: 200%;
    display: block;
    position: fixed;
    padding: var(--base-gap);
    background: var(--fg1);
    color: var(--bg1);
    position: fixed;
    bottom: 0;
    right: 0;
}
.start-button:hover,
.start-button:focus {
    color: red;
}
.about {
    text-align: justify;
    padding: var(--base-gap);
    hyphens: auto;
    max-width: 80rem;
    margin: 0 auto;
    padding-bottom: 5rem;
}
.about h1, .about h2 {
    text-transform: uppercase;
    font-size: 175%;
    letter-spacing: 0.4em;
    filter: blur(2px);
}
code {
    color: var(--fg2);
}
.info {
    position: fixed;
    bottom: var(--base-gap);
    right: var(--base-gap);
}

@media (min-width: 50rem) {
    .start-button {
        bottom: auto;
        top: 0;
    }
    .about {
        display: grid;
        grid-gap:  var(--base-gap) calc(var(--base-gap) * 4);
        grid-template-columns: 1fr 1fr;
        margin-top: 4rem;
    }
    .jump-to-english {
        position: absolute;
        height: 0;
        width: 0;
        overflow: hidden;
    }
}
